.box1 {
    width: 100px;
    height: 100px;
    background-color: rgb(226, 104, 153);
    position: absolute;
    top: 200px;
    left: 200px;
}
.box2 {
    width: 100px;
    height: 100px;
    background-color: rgb(104, 149, 226);
    position: absolute;
    top: 260px;
    left: 260px;
    z-index: 1;
}
.box3 {
    width: 100px;
    height: 100px;
    background-color: rgb(104, 226, 114);
    position: absolute;
    top: 320px;
    left: 320px;
}